.samuraibackground {
    background-image: url('./img/ssbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.result-card {
    height: 308px;
}

.character-name {
    text-align: center;
}

#loading {
    text-align: center;
    display: none;
}

